<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wnn.mydao.User_Account_Mapper">

	<select id="login" parameterType="com.wnn.mybean.T_mall_user_account" resultType="com.wnn.mybean.T_mall_user_account">
		select * from t_mall_user_account 
		where yh_mch=#{yh_mch} and yh_mm=#{yh_mm}
	</select>
	<select id="getUserByName" parameterType="string" resultType="string">
		select yh_mm from t_mall_user_account 
		where yh_mch=#{yh_mch}
	</select>
	
	<insert id="regist" parameterType="com.wnn.mybean.T_mall_user_account" >
		insert into t_mall_user_account(
			yh_mch,
			yh_nch,
			yh_mm ,
			yh_xm ,
			yh_yx ,
			yh_tx ,
			yh_jb 
		)
		values(
			#{yh_mch},
			#{yh_nch},
			#{yh_mm },
			#{yh_xm },
			#{yh_yx },
			#{yh_tx },
			#{yh_jb }
		
		)
	</insert>
	
</mapper>